# Dependencies
node_modules/

# Cypress artifacts
cypress/videos/
cypress/screenshots/
cypress/downloads/

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo

# Environment files
.env
.env.local
.env.*.local

